@{
    ViewData["Title"] = "Начало";
}
<div class="container mt-5 text-center">
    <h1>📚 Добре дошъл в BookBrain</h1>
    <p class="lead">Уеб система за управление на библиотека с локален AI помощник</p>
    <hr />
    <div class="mt-4">
        <a class="btn btn-primary btn-lg m-2" href="/Books">📖 Книги</a>
        <a class="btn btn-success btn-lg m-2" href="/Users">👤 Потребители</a>
        <a class="btn btn-warning btn-lg m-2" href="/Loans">📅 Заеми</a>
    </div>
</div>
